body {
    background: url(./images/overwatch.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p, h2{
    font-size: 3em;
    text-shadow: 1px 1px 2px #FFFFFF, 0 0 1em #FFFFFF, 0 0 0.2em  #FFFFFF; 
    font-weight: bold;
}
h1 {
    font-size: 4em;
    text-shadow: 1px 1px 2px #FFFFFF, 0 0 1em #FFFFFF, 0 0 0.2em  #FFFFFF; 
    font-weight: bold;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

header h1 {
    text-align: center;
}

.width1 {
    width: 100%;
}

.margin1 {
    margin: 0 !important;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: rgb(196, 7, 7);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.date{
padding:0;
}
.radius{
border-radius:4px;
border:1px solid lightgrey;
height:40px;
}
.marge{
padding-right:0;
}